 <footer>
        <div class="container footer-container">
          <div class="address">
            <a
              href="https://www.google.com/maps/search/?api=1&query=Sokolovská+116+71,Karlovy+Vary+36005"
              target="_blank"
              class="contact-address"
            >
              <img
                src="/images/icons/address.svg"
                alt="address-svg"
                class="address-svg"
              />
              <div>
                <p>Sokolovská 116 / 71</p>
                <p>Karlovy Vary 36005</p>
              </div>
            </a>
          </div>
          <div class="contact">
            <div class="contact-phone">
              <a href="tel:+420739866996" class="contact-phone">
                <img
                  src="/images/icons/phone.svg"
                  alt="phone-svg"
                  class="phone-svg"
                />
                <span>+420 739 866 996</span>
              </a>
            </div>
            <div class="contact-mail">
              <a href="mailto:amabar.s.r.o@gmail.com" class="contact-mail">
                <img src="/images/icons/mail.svg" alt="mail-svg" class="mail-svg" />
                <span>amabar.s.r.o@gmail.com</span>
              </a>
            </div>
          </div>
          <div class="social-media">
            <ul class="social-media-list">
              <li class="social-list-item">
                <a href="https://www.instagram.com/ama_bar_kv/" target="_blank">
                  <img src="/images/icons/insta.svg" alt="insta-icon" />
                </a>
              </li>
              <li class="social-list-item">
                <a
                  href="https://www.facebook.com/profile.php?id=61570086643830&mibextid=LQQJ4d"
                  target="_blank"
                >
                  <img src="/images/icons/facebook.svg" alt="facebook-icon" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      
      </footer>