

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    /* background-color: #121212; */
    color: white;
    background-image:url("../images/IMG_9724.JPG");
    background-size: cover;
  
    text-align: center;
    
    position: relative;
    font-family: Arial, serif; 
}

body::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.3); /* Dunkles Overlay mit 50% Transparenz */
z-index: -1;
}

/* .container {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .box {
    width: 40%;
    margin: 40px;
    position: relative;
    display: flex;
    align-items: center;
} */
/* 
.box img {
    width: 100%;
    border-radius: 10px;
} */

.text {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    width: 60%;
}

/* Chaotische Positionierung */
.box:nth-child(odd) .text {
    left: -150px;
}

.box:nth-child(even) .text {
    right: -150px;
}


@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
}


@media screen and (min-width: 1200px) {


    .container {
        max-width: 1200px;
        width: 1200px;
        margin: 0 auto;
        
    }
    .header-container {
        background: rgba(0, 0, 0, 0.3);
    }

    .nav {
        margin: 0 auto;
       
        color: #fff;
        /* position: fixed; */
        top: 0;
        z-index: 1000;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        
    }

    .nav-list {
        padding: 26px;
        height: 100px;
        list-style: none;
        display: flex;
    }

    .nav-list-item {
        margin: 0 1rem;
    }

   
    .nav-list-item-link {
        color: #fff;
        text-decoration: none;
        font-size: 1.3rem;
        text-transform: uppercase;
        transition: color 0.3s ease;
        font-weight: 700;
    }

    .active {
        color: #FF0000;
        border-bottom: 2px solid #FF0000;
    }

  
    
}


.image-container {
    display: flex;
    flex-wrap: wrap; /* Erlaubt den Umbruch der Bilder in die nächste Zeile */
    gap: 10px; 
    width: 500px;
    margin-top: 100px;
    /* border: 2px solid white; */
    justify-content: center;
    position: relative;

    background: rgba(15, 12, 12, 0.1);
    padding: 20px;
    border-radius: 10px;
}




.arrow {
    position: absolute;
    bottom: 45px; /* Der Pfeil startet leicht außerhalb des Containers nach unten */
    right: -2px;  /* Der Pfeil startet leicht außerhalb des Containers nach rechts */
    width: 2px;    /* Dünne Linie für den vertikalen Teil */
    height: 200px;  /* Länge des vertikalen Teils des Pfeils */
    background-color: white; /* Farbe des Pfeils */
    transform-origin: bottom right;  /* Der Ursprung der Drehung ist die untere rechte Ecke */
    transform: rotate(45deg);  /* Der Pfeil dreht sich nach oben rechts */
}

.drinks-container {
    width: 500px;
}

/* .arrow::after {
    content: '';
    position: absolute;
    top: 0;  
    left: 0;
    width: 2px;  
    height: 200px;  
    background-color: white; 
    transform-origin: top left; 
    transform: rotate(225deg);  
} */

.box {
    display: flex;
    align-items: center;
    /* border: 2px solid #f8e059; */
    background-color: rgba(0, 0, 0, 0.7);
    
    padding: 30px;
    border-radius: 10px; /* Etwas stärker abgerundete Ecken für eine moderne Optik */
    box-shadow: 0px 4px 15px rgba(248, 224, 89, 0.4); 
    width: 950px;
    margin: 0 auto;
}

.swiper {
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 35px;
    color: #f8e059 ;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 31px;
    
}

.container-box {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-top: 145px;
}

.swiper-button-next, .swiper-button-prev {
    color: #FFD700 !important; /* Change to your preferred color */
}


.swiper-pagination-bullet-active, .swiper-pagination-bullet {
    background-color: #FFD700 !important;
}






@media screen and (min-width: 1200px) {
    .footer-container {
        width: 1200px;
        max-width: 1200px;
    }

    .footer-pos {
        height: 120px;
        /* position: fixed; */

        width: 100%;

        bottom: 0; 

    }
}

.footer-container {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
  

    height: 100px;
    z-index: 1000; 

    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)); */
    color: #fff;
   
}
.footer {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
   
    
  }
.address, .contact-phone, .contact-mail {
    display: flex;
    align-items: center;
    gap: 20px
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-media-list {
    display: flex;
    list-style: none;
    gap: 30px;
}



  .social-list-item {
    display: flex;
    border-radius: 50%;
    padding: 8px; 
    transition: all 0.3s ease; 
    /* background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 10%, rgba(204, 204, 204, 0.5) 70%, white 100%); */
    /* background: radial-gradient(circle, rgba(255, 59, 46, 0.3) 10%, rgba(255, 59, 46, 0.5) 70%, white 100%); */
    background-color: #FF0000;
  }
  .social-list-item a {
    display: inline-block;
    
  }
  
  .social-list-item:hover {
    border-color: #ccc;
    background-color: #f0f0f0; 
  }

  .social-list-item img {
    width: 30px; /* Adjust size of the icons */
    height: 30px;
    display: block;
  }