

body {
    font-family: Arial, sans-serif;
    /* background-color: #121212; */
    color: white;
    background-image:url("../images/IMG_9720.JPG");
    background-size: 70%;
  
    text-align: center;
    
    position: relative;
    font-family: Arial, serif; 
}

body::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5); /* Dunkles Overlay mit 50% Transparenz */
z-index: -1;
}

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
}


@media screen and (min-width: 1200px) {


    .container {
        max-width: 1200px;
        width: 1200px;
        margin: 0 auto;
        
    }
    .header-container {
        background: rgba(0, 0, 0, 0.3);
    }

    .nav {
        margin: 0 auto;
       
        color: #fff;
        /* position: fixed; */
        top: 0;
        z-index: 1000;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        
    }

    .nav-list {
        padding: 26px;
        height: 100px;
        list-style: none;
        display: flex;
    }

    .nav-list-item {
        margin: 0 1rem;
    }

   
    .nav-list-item-link {
        color: #fff;
        text-decoration: none;
        font-size: 1.3rem;
        text-transform: uppercase;
        transition: color 0.3s ease;
        font-weight: 700;
    }

    .active {
        color: #FF0000;
        border-bottom: 2px solid #FF0000;
    }

  
    
}



.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.swiper-button-next {
    background-color: yellow;
}





 
